In [1]:
from math import sqrt
from numpy import concatenate
import matplotlib as mpl
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error
from keras.models import Sequential
from tensorflow.keras.models import load_model
from keras.layers import LSTM, Dense, Masking
from tensorflow.keras import callbacks as cb
from keras.wrappers.scikit_learn import KerasRegressor
import tensorflow as tf
from hydro_helpers.scoring import render_score
from hydro_helpers.reporting import cv_report
from hydro_helpers._utils import _nse as NSE
from hydro_helpers._utils import _rmse as RMSE
mpl.rcParams['figure.figsize'] = (20, 10)
mpl.rcParams['axes.grid'] = False
tf.random.set_seed(13)

Using TensorFlow backend.

In [4]:
river = 'lena'
df = pd.read_csv('data/lena/train_df.txt', index_col='date')
print(df.shape)
df.index = pd.DatetimeIndex(df.index)
# print(df.mean(axis=0))
df.head()

(12207, 211)

,stage_max_3019,stage_max_3021,stage_max_3024,stage_max_3027,stage_max_3028,stage_max_3029,stage_max_3030,stage_max_3031,stage_max_3032,stage_max_3035,...,prec_30372,prec_30385,prec_30393,prec_30433,prec_30471,prec_30493,prec_31004,prec_31026,prec_31102,prec_31137
date,,,,,,,,,,,,,,,,,,,,,
1985-01-01,-23.0,103.0,106.0,25.0,258.0,51,126.0,152.0,143,59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.2,0.0
1985-01-02,-23.0,103.0,106.0,23.0,258.0,49,122.0,150.0,141,58,...,0.0,0.0,0.0,0.9,0.0,0.0,0.5,0.7,0.0,0.7
1985-01-03,-23.0,102.0,106.0,21.0,255.0,47,120.0,147.0,140,57,...,0.0,0.0,0.0,0.0,0.0,0.0,0.6,1.6,0.0,0.5
1985-01-04,-24.0,102.0,106.0,19.0,252.0,45,119.0,146.0,139,55,...,0.0,0.0,0.6,0.3,0.0,0.2,3.0,0.2,0.3,0.3
1985-01-05,-24.0,102.0,106.0,17.0,251.0,43,119.0,145.0,135,53,...,0.0,0.0,0.4,0.0,0.0,0.3,0.6,0.0,0.2,1.8

In [5]:
# run once
df = df.dropna(axis=0, how='all')
df = df.dropna(axis=1, how='all')
# print(df.isna().sum())
print(df.shape)
del df['stage_max_3048']
df = df.apply(lambda x: x.fillna(x.mean()),axis=0)
# print(df.isna().sum())
df = df.apply(lambda x: x.fillna(0),axis=0)
print(df.isna().sum())

(12207, 192)
stage_max_3019        0
stage_max_3021        0
stage_max_3024        0
stage_max_3027        0
stage_max_3028        0
stage_max_3029        0
stage_max_3030        0
stage_max_3031        0
stage_max_3032        0
stage_max_3035        0
stage_max_3036        0
stage_max_3037        0
stage_max_3038        0
stage_max_3041        0
stage_max_3042        0
stage_max_3045        0
stage_max_3047        0
stage_max_3050        0
stage_max_3087        0
stage_max_3106        0
stage_max_3169        0
stage_max_3180        0
stage_max_3229        0
stage_max_3230        0
stage_max_3554        0
stage_max_3555        0
ice_thickness_3019    0
ice_thickness_3021    0
ice_thickness_3024    0
ice_thickness_3027    0
                     ..
prec_24763            0
prec_24817            0
prec_24923            0
prec_24933            0
prec_24944            0
prec_24951            0
prec_24959            0
prec_24966            0
prec_24967            0
prec_30028            0
prec_30054            0
prec_30069            0
prec_30089            0
prec_30219            0
prec_30230            0
prec_30252            0
prec_30253            0
prec_30328            0
prec_30337            0
prec_30356            0
prec_30372            0
prec_30385            0
prec_30393            0
prec_30433            0
prec_30471            0
prec_30493            0
prec_31004            0
prec_31026            0
prec_31102            0
prec_31137            0
Length: 191, dtype: int64

In [ ]:
# df.plot(subplots=True, figsize=[20,20])
# plt.show()
corr = round(df.corr(), 2)
# целевые гидропосты
# rownames = [k for k in corr.columns[corr.columns.str.contains("3019|3027|3028|3029|3030|3035|3041|3045|3050|3230|3036")].values]
rownames = [f'stage_max_{i}' for i in [3019,3027,3028,3029,3030,3035,3041,3045,3050,3230,3036]]
# позиция целевых гидропостов
# positions = [i for i, x in enumerate(corr.columns.str.contains("3019|3027|3028|3029|3030|3035|3041|3045|3050|3230|3036]")) if x]
# print(positions)
corr.to_excel('results/lena_kirensk_corr.xlsx')
corr.loc[rownames, :].transpose().style.background_gradient(cmap='coolwarm')
# corr.style.background_gradient(cmap='coolwarm')

In [8]:
def multivariate_data(dataset, target, start_index, end_index, history_size,
                      target_size, step, single_step=False):
    data = []
    labels = []

    start_index = start_index + history_size
    if end_index is None:
        end_index = len(dataset) - target_size

    for i in range(start_index, end_index):
        indices = range(i-history_size, i, step)
        data.append(dataset[indices])

        if single_step:
            labels.append(target[i+target_size])
        else:
            labels.append(target[i:i+target_size])
        
    return np.array(data), np.array(labels)


def make_dataset(df, frac, target_label):
    test_size = len(df) - int(len(df) * frac)
    print('Train: ', test_size)
    print('Test: ', len(df) - test_size)
    dataset = df.values
    data_mean = np.nanmean(dataset[:test_size], axis=0)
    data_std = np.nanstd(dataset[:test_size], axis=0)
    print(dataset[:test_size].shape)
#     print(np.round(data_mean, 3), np.round(data_std, 2))
    dataset = (dataset-data_mean)/data_std
#     print(dataset[:,df.columns.get_loc(target_label)])
    # shaping training and test dataset to chunks
    x_train_multi, y_train_multi = multivariate_data(dataset[:, :], dataset[:, df.columns.get_loc(target_label)], len(dataset) - test_size,
                                                     None, past_history,
                                                     future_target, STEP)
    x_val_multi, y_val_multi = multivariate_data(dataset[:, :], dataset[:, df.columns.get_loc(target_label)],
                                                 0, int(len(df) * frac), past_history,
                                                 future_target, STEP)
    print('\n Input training data shape:')
    print(x_train_multi.shape[-2:], y_train_multi.shape[-2:])
    print('\n Input test data shape:')
    print(x_val_multi.shape[-2:], y_val_multi.shape[-2:])
#     print('\n Single step history:')
#     print(x_train_multi[0])
#     print('\n Single step target:')
#     print(y_train_multi[0])
    return x_train_multi, y_train_multi, x_val_multi, y_val_multi, data_mean, data_std


def model_build(df, target_label):
    print(target_label)
    x_train_multi, y_train_multi, x_val_multi, y_val_multi, data_mean, data_std = make_dataset(df, 0.2)
    
    # create train and test data from chunks
    train_data_multi = tf.data.Dataset.from_tensor_slices((x_train_multi, y_train_multi))
    val_data_multi = tf.data.Dataset.from_tensor_slices((x_val_multi, y_val_multi))

    # training and test data shuffling
    train_data_multi = train_data_multi.cache().shuffle(BUFFER_SIZE).batch(BATCH_SIZE).repeat()
    val_data_multi = val_data_multi.batch(BATCH_SIZE).repeat()

    multi_step_model = tf.keras.models.Sequential()
    multi_step_model.add(tf.keras.layers.LSTM(50,
                                              return_sequences=False,
                                              input_shape=x_train_multi.shape[-2:]))
    multi_step_model.add(tf.keras.layers.Dense(7))

    multi_step_model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001, beta_1=0.9, 
                                                                beta_2=0.999, epsilon=1e-07, amsgrad=False,
                                                                name='Adam'), 
                             loss='mse')

    model_callbacks = [cb.EarlyStopping(patience=10), 
                              cb.ModelCheckpoint(filepath=f"output/"+ river + "_" + target_label + "_LSTM.h5", save_best_only=True)]
    multi_step_history = multi_step_model.fit(train_data_multi, epochs=EPOCHS,
                                          steps_per_epoch=EVALUATION_INTERVAL,
                                          validation_data=val_data_multi,
                                          validation_steps=10,
                                          callbacks=model_callbacks)
    loss = multi_step_history.history['loss']
    val_loss = multi_step_history.history['val_loss']
    epochs = range(len(loss)) 
    plt.figure(figsize=[10,10])
    plt.plot(epochs, loss, 'b', label='Training loss')
    plt.plot(epochs, val_loss, 'r', label='Validation loss')
    plt.legend()
    plt.show()

In [6]:
# define train/test split
target_labels = [f'stage_max_{i}' for i in [3019,3027,3028,3029,3030,3035,3041,3045,3050,3230,3036]]
print(target_labels)
# lookback parameters
past_history = 60 # how many instances a model sees for training, in compliance with other models' input
future_target = 7 # how many instances form a prediction step
STEP = 1 # step size - 1 for daily data
BATCH_SIZE = 30 
BUFFER_SIZE = 1000
EVALUATION_INTERVAL = len(df.values)/BATCH_SIZE # what data model sees for training
EPOCHS = 100 # how many times a model sees the data

['stage_max_3019', 'stage_max_3027', 'stage_max_3028', 'stage_max_3029', 'stage_max_3030', 'stage_max_3035', 'stage_max_3041', 'stage_max_3045', 'stage_max_3050', 'stage_max_3230', 'stage_max_3036']

In [ ]:
# run model training and saving
for l in target_labels:
    model_build(df, l)

In [120]:
# new data
new_df = pd.read_csv('data/lena/df_input_cp3.txt', index_col='date')
new_df.index = pd.DatetimeIndex(new_df.index)
new_df = new_df.dropna(axis=1, how='all')
del new_df['stage_max_3048']
print(new_df.shape)
new_df = new_df.apply(lambda x: x.fillna(x.mean()),axis=0)
new_df = new_df.apply(lambda x: x.fillna(0),axis=0)
# print(new_df.isna().sum())
ondates = pd.DataFrame({'date': pd.date_range(start=min(new_df.index), end=max(new_df.index), freq='D')})
# print(ondates.head())
ondates = pd.merge(ondates, new_df, how='left', on=['date'])
ondates.index = ondates['date']
del ondates['date']
ondates = ondates.apply(lambda x: x.fillna(0),axis=0)
print(ondates['2001-04-21':'2001-04-27'])

(12361, 191)
            stage_max_3019  stage_max_3021  stage_max_3024  stage_max_3027  \
date
2001-04-21             0.0             0.0             0.0             0.0
2001-04-22             0.0             0.0             0.0             0.0
2001-04-23             0.0             0.0             0.0             0.0
2001-04-24             0.0             0.0             0.0             0.0
2001-04-25             0.0             0.0             0.0             0.0
2001-04-26             0.0             0.0             0.0             0.0
2001-04-27             0.0             0.0             0.0             0.0

            stage_max_3028  stage_max_3029  stage_max_3030  stage_max_3031  \
date
2001-04-21             0.0             0.0             0.0             0.0
2001-04-22             0.0             0.0             0.0             0.0
2001-04-23             0.0             0.0             0.0             0.0
2001-04-24             0.0             0.0             0.0             0.0
2001-04-25             0.0             0.0             0.0             0.0
2001-04-26             0.0             0.0             0.0             0.0
2001-04-27             0.0             0.0             0.0             0.0

            stage_max_3032  stage_max_3035  ...  prec_30372  prec_30385  \
date                                        ...
2001-04-21             0.0             0.0  ...         0.0         0.0
2001-04-22             0.0             0.0  ...         0.0         0.0
2001-04-23             0.0             0.0  ...         0.0         0.0
2001-04-24             0.0             0.0  ...         0.0         0.0
2001-04-25             0.0             0.0  ...         0.0         0.0
2001-04-26             0.0             0.0  ...         0.0         0.0
2001-04-27             0.0             0.0  ...         0.0         0.0

            prec_30393  prec_30433  prec_30471  prec_30493  prec_31004  \
date
2001-04-21         0.0         0.0         0.0         0.0         0.0
2001-04-22         0.0         0.0         0.0         0.0         0.0
2001-04-23         0.0         0.0         0.0         0.0         0.0
2001-04-24         0.0         0.0         0.0         0.0         0.0
2001-04-25         0.0         0.0         0.0         0.0         0.0
2001-04-26         0.0         0.0         0.0         0.0         0.0
2001-04-27         0.0         0.0         0.0         0.0         0.0

            prec_31026  prec_31102  prec_31137
date
2001-04-21         0.0         0.0         0.0
2001-04-22         0.0         0.0         0.0
2001-04-23         0.0         0.0         0.0
2001-04-24         0.0         0.0         0.0
2001-04-25         0.0         0.0         0.0
2001-04-26         0.0         0.0         0.0
2001-04-27         0.0         0.0         0.0

[7 rows x 191 columns]

In [108]:
# load trained model for time saving
output_df = pd.DataFrame() # df for all gauges' predictions
# gauges loop
for lab in [f'stage_max_{i}' for i in [3019,3027,3028,3029,3030,3035,3041,3045,3050,3230,3036]]:
    print(lab)
    # shape new data
    val_frac = 0.01
    nt, nv, vt, vv, dm, dstd = make_dataset(ondates, val_frac, lab)
#     print(nt.shape, nv.shape, vt.shape, vv.shape)
    # load model
    multi_step_model = load_model(f"output/lena_" + lab + "_LSTM.h5")
#     print(multi_step_model.summary())
#     print('Multi-step model prediction shape:')
#     print(multi_step_model.predict(nt).shape)
    # predict
    pred = pd.DataFrame(multi_step_model.predict(nt) * dstd[df.columns.get_loc(lab)] + dm[df.columns.get_loc(lab)])
#     print(pred.head())
#     for i in range(future_target):
#         pred[i] = pred[i].shift(i)
#     pred.columns = [f'pred_{i}' for i in range(1, future_target + 1)]
    # get time index
    start_index = len(ondates) - (len(ondates) - int(len(ondates) * val_frac)) + past_history + future_target
    pred['date'] = ondates[start_index:].index.values
    pred['index'] = lab
    output_df = output_df.append(pred)
print(output_df.describe())

stage_max_3019
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3027
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3028
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3029
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3030
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3035
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3041
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3045
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3050
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3230
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
stage_max_3036
Train:  12656
Test:  127
(12656, 191)

 Input training data shape:
(60, 191) (12589, 7)

 Input test data shape:
(60, 191) (67, 7)
                   0              1              2              3  \
count  138479.000000  138479.000000  138479.000000  138479.000000
mean      194.990723     192.335449     194.427002     194.364426
std       228.597778     224.435684     224.846863     223.742889
min      -416.260834    -407.740326    -415.486847    -386.527374
25%        58.128006      54.953133      56.786509      57.337416
50%       161.631287     157.371033     159.641403     161.102722
75%       276.222000     270.512848     275.288406     277.635437
max      1501.604858    1534.310059    1470.960205    1487.799438

                   4              5              6
count  138479.000000  138479.000000  138479.000000
mean      193.755417     194.600327     190.708862
std       222.910324     218.699112     220.742233
min      -430.057465    -413.869751    -430.514557
25%        54.698708      57.098011      53.312370
50%       160.130646     161.537201     156.670746
75%       278.663971     278.728775     277.310272
max      1473.235229    1436.773438    1436.173584

In [115]:
# solution_df = output_df
# solution_df['index'] = solution_df['index'].str[-4:].astype(int)
# solution_df.index = solution_df['date']
solution_df['2001-04-21':'2001-04-27']

,0,1,2,3,4,5,6,date,index,delta_stage_max_predicted
date,,,,,,,,,,
2001-04-21,19.252483,21.250595,25.599850,30.456059,23.722958,29.531677,39.953083,2001-04-21,3019,-6.889088
2001-04-22,17.077900,22.027718,27.979107,35.546143,33.087700,41.469681,51.245438,2001-04-22,3019,-2.174583
2001-04-23,12.169205,18.580044,24.966396,34.452766,41.632626,56.193382,67.527290,2001-04-23,3019,-4.908695
2001-04-24,15.393024,22.376823,38.096062,51.209251,52.823158,58.647346,62.596146,2001-04-24,3019,3.223820
2001-04-25,25.212601,30.500210,43.727501,56.257889,58.200306,59.515720,63.311241,2001-04-25,3019,9.819576
2001-04-26,22.341270,29.542351,44.922943,55.760895,53.463211,55.301655,58.003681,2001-04-26,3019,-2.871330
2001-04-27,21.440269,27.715168,39.241402,46.092697,43.626457,45.515343,47.270943,2001-04-27,3019,-0.901001
2001-04-21,56.325119,54.107475,58.923439,83.433838,107.355438,110.465424,123.632004,2001-04-21,3027,-8.549164
2001-04-22,78.176804,71.673523,74.452080,102.966324,128.201691,126.937134,138.157120,2001-04-22,3027,21.851685
2001-04-23,74.547089,67.817993,85.787003,116.162659,168.226761,183.747681,175.502182,2001-04-23,3027,-3.629715
2001-04-24,90.431030,84.236153,99.045670,130.406082,173.226120,167.962662,175.839935,2001-04-24,3027,15.883942
2001-04-25,118.427124,110.211540,103.359634,145.932968,170.640747,152.486893,160.357330,2001-04-25,3027,27.996094
2001-04-26,115.624931,112.050705,115.742950,144.748215,171.749451,163.064346,177.123047,2001-04-26,3027,-2.802193
2001-04-27,114.642807,107.905212,108.292984,131.615723,156.392487,144.014801,156.340607,2001-04-27,3027,-0.982124
2001-04-21,221.106354,222.610596,279.939178,290.041718,212.190918,240.354477,309.067474,2001-04-21,3028,15.267395
2001-04-22,220.812241,209.009827,282.062286,283.320282,220.621246,253.400116,317.989594,2001-04-22,3028,-0.294113
2001-04-23,235.343842,208.738617,298.901550,291.193695,237.804535,294.687317,344.637146,2001-04-23,3028,14.531601
2001-04-24,236.688507,216.762024,280.406494,279.007751,245.244217,284.926239,341.429138,2001-04-24,3028,1.344666
2001-04-25,242.824860,243.368515,301.010986,321.057953,262.071289,308.312653,376.489807,2001-04-25,3028,6.136353
2001-04-26,254.627411,251.330261,313.400604,316.551056,279.555176,324.914368,391.323364,2001-04-26,3028,11.802551
2001-04-27,266.290497,265.766479,330.227417,330.723572,291.404053,336.472046,401.717407,2001-04-27,3028,11.663086
2001-04-21,119.114655,82.573868,146.320099,121.569923,120.303772,149.156708,150.159973,2001-04-21,3029,4.401360
2001-04-22,111.186867,95.704285,135.258408,133.433136,145.909088,162.979187,183.736877,2001-04-22,3029,-7.927788
2001-04-23,107.995483,126.113525,143.552094,188.909286,217.169586,243.556885,264.668457,2001-04-23,3029,-3.191383
2001-04-24,105.446693,132.018707,149.993713,220.407196,243.829788,226.667953,231.192169,2001-04-24,3029,-2.548790
2001-04-25,109.487259,141.158600,161.027100,217.279068,239.983978,226.244507,232.427170,2001-04-25,3029,4.040565
2001-04-26,129.613922,162.144196,184.483078,228.197815,250.495834,240.185043,236.713699,2001-04-26,3029,20.126663
2001-04-27,145.322357,168.230499,195.355759,213.392761,235.251602,230.074738,223.752502,2001-04-27,3029,15.708435
2001-04-21,117.671417,128.114227,164.882858,155.925751,161.539536,170.498932,158.100723,2001-04-21,3030,-9.457474
2001-04-22,102.946312,118.544411,138.877441,158.285309,146.946655,191.091293,169.106323,2001-04-22,3030,-14.725105
...,...,...,...,...,...,...,...,...,...,...
2001-04-26,173.585907,163.327652,157.633942,158.221191,169.495941,159.789291,168.173691,2001-04-26,3041,-5.203522
2001-04-27,160.764969,150.383240,152.337982,151.960999,156.718887,154.719208,153.335907,2001-04-27,3041,-12.820938
2001-04-21,-174.390259,-144.183350,-163.140533,-173.132050,-163.892853,-114.693352,-95.457047,2001-04-21,3045,-11.961319
2001-04-22,-161.284775,-135.745911,-165.929001,-176.571472,-160.781494,-116.930428,-115.944275,2001-04-22,3045,13.105484
2001-04-23,-169.452637,-159.125793,-162.214752,-171.631622,-170.069305,-89.183380,-110.211151,2001-04-23,3045,-8.167862
2001-04-24,-150.973770,-156.900421,-151.814255,-180.848846,-160.021454,-121.143120,-146.184662,2001-04-24,3045,18.478867
2001-04-25,-160.697861,-162.951813,-152.179001,-158.843842,-153.883667,-125.321632,-157.131378,2001-04-25,3045,-9.724091
2001-04-26,-158.888931,-156.356293,-149.318817,-156.951584,-152.967194,-118.349068,-138.909271,2001-04-26,3045,1.808929
2001-04-27,-168.548828,-154.409561,-156.394104,-154.469055,-160.395386,-126.055466,-135.092941,2001-04-27,3045,-9.659897
2001-04-21,155.773956,196.975128,165.730835,176.756378,182.154160,184.814514,187.499634,2001-04-21,3050,-0.194107
2001-04-22,156.801956,196.182800,172.085770,183.361023,198.277954,194.476776,200.601761,2001-04-22,3050,1.028000
2001-04-23,165.768829,203.269501,171.575317,185.074371,204.599030,224.455170,224.481140,2001-04-23,3050,8.966873
2001-04-24,166.790680,200.779633,176.139938,188.148026,206.550018,198.691528,200.188431,2001-04-24,3050,1.021851
2001-04-25,177.693588,215.663498,193.762665,206.209381,214.806213,227.792587,213.271057,2001-04-25,3050,10.902908
2001-04-26,182.083710,222.662537,201.410995,219.652176,225.741470,231.318756,214.779602,2001-04-26,3050,4.390121
2001-04-27,178.897919,218.003571,195.667358,207.808105,223.466461,223.672760,199.872009,2001-04-27,3050,-3.185791
2001-04-21,183.727631,204.443939,261.774170,297.126221,329.026428,322.296753,346.652100,2001-04-21,3230,-8.152740
2001-04-22,199.048599,218.409470,284.285217,320.699341,362.441833,377.360779,407.402313,2001-04-22,3230,15.320969
2001-04-23,209.756042,243.041779,271.488922,295.660889,356.791718,404.020752,430.813599,2001-04-23,3230,10.707443
2001-04-24,192.091293,257.158020,302.646393,336.417023,382.343414,410.438477,425.563232,2001-04-24,3230,-17.664749
2001-04-25,211.306335,267.015656,309.127289,326.873505,384.303436,425.739136,431.165955,2001-04-25,3230,19.215042
2001-04-26,202.699722,288.593048,309.459259,370.569153,402.320679,447.044861,454.639008,2001-04-26,3230,-8.606613
2001-04-27,208.132629,300.450653,316.957306,387.495728,427.953613,473.410370,485.762146,2001-04-27,3230,5.432907
2001-04-21,168.651108,185.003647,234.439545,236.538101,208.793030,167.098389,119.281525,2001-04-21,3036,-6.491257
2001-04-22,174.157166,195.374359,209.910034,223.340942,197.399704,160.570419,103.836166,2001-04-22,3036,5.506058
2001-04-23,197.051575,164.970642,215.715805,209.006195,218.600677,181.020386,129.689621,2001-04-23,3036,22.894409
2001-04-24,195.406601,205.633362,219.188705,237.019897,234.154678,181.168472,151.154190,2001-04-24,3036,-1.644974
2001-04-25,189.128067,164.371033,223.961746,208.175293,226.851990,188.841736,107.398865,2001-04-25,3036,-6.278534
2001-04-26,196.384399,184.695831,223.392670,233.520645,237.008270,205.096558,133.441086,2001-04-26,3036,7.256332
2001-04-27,189.754807,163.914795,210.137985,227.280441,222.462280,194.774353,112.716660,2001-04-27,3036,-6.629593

In [113]:
# extract test periods' predictions
test_cp1 = pd.read_csv(r'data/lena/test_cp4.csv')
test_cp1['date'] = pd.to_datetime(test_cp1['date'])
print(test_cp1.head())

solution_df['delta_stage_max_predicted'] = solution_df[0].diff()
print(solution_df.head())
solution_cp1 = pd.merge(test_cp1, solution_df.loc[:,['index','delta_stage_max_predicted']], how = 'left', left_on=['date', 'station_id'], right_on=['date', 'index'])
print(solution_cp1.head(10))
solution_cp1.to_csv('results/submit_uh_cp4.csv')

   year  station_id  month  day       date  delta_stage_max
0  1993        3019      4  111 1993-04-21              NaN
1  1993        3019      4  112 1993-04-22              NaN
2  1993        3019      4  113 1993-04-23              NaN
3  1993        3019      4  114 1993-04-24              NaN
4  1993        3019      4  115 1993-04-25              NaN
                     0           1           2           3           4  \
date
1985-07-14  143.359375  133.237305  123.466431  127.978790  127.485168
1985-07-15  116.521439  113.026901  108.468292  111.108246  104.566208
1985-07-16  115.331238  108.629547  101.700119  103.107986  102.461823
1985-07-17  118.379692  110.961716  101.385437   97.934265  100.579788
1985-07-18   92.310654  103.051819  103.691116   99.737518  104.867523

                     5           6       date  index  \
date
1985-07-14  123.836670  115.282440 1985-07-14   3019
1985-07-15   99.961426   87.468903 1985-07-15   3019
1985-07-16  101.826523   96.231934 1985-07-16   3019
1985-07-17   95.581200   93.046219 1985-07-17   3019
1985-07-18   97.323608   87.965271 1985-07-18   3019

            delta_stage_max_predicted
date
1985-07-14                        NaN
1985-07-15                 -26.837936
1985-07-16                  -1.190201
1985-07-17                   3.048454
1985-07-18                 -26.069038
   year  station_id  month  day       date  delta_stage_max  index  \
0  1993        3019      4  111 1993-04-21              NaN   3019
1  1993        3019      4  112 1993-04-22              NaN   3019
2  1993        3019      4  113 1993-04-23              NaN   3019
3  1993        3019      4  114 1993-04-24              NaN   3019
4  1993        3019      4  115 1993-04-25              NaN   3019
5  1993        3019      4  116 1993-04-26              NaN   3019
6  1993        3019      4  117 1993-04-27              NaN   3019
7  1997        3019      4  111 1997-04-21              NaN   3019
8  1997        3019      4  112 1997-04-22              NaN   3019
9  1997        3019      4  113 1997-04-23              NaN   3019

   delta_stage_max_predicted
0                  -3.896156
1                   0.422916
2                  -8.790504
3                  12.985157
4                  15.558109
5                  17.854443
6                  12.707352
7                   0.898968
8                   3.780834
9                   1.495026

In [142]:
score_df = pd.DataFrame()
for lab in [f'stage_max_{i}' for i in [3019,3027,3028,3029,3030,3035,3041,3045,3050,3230,3036]]:
    print(lab)
    pred = pd.DataFrame(multi_step_model.predict(nt) * dstd[df.columns.get_loc(lab)] + dm[df.columns.get_loc(lab)])
    # 7-day forecast
    pred.columns = [f'pred_{i}' for i in range(1, future_target + 1)]
    start_index = len(ondates) - (len(ondates) - int(len(ondates) * val_frac)) + past_history + future_target
    pred.index = ondates[start_index:].index.values
#     print(pred.head())
    
#     get observations
    pred['fact'] = ondates[start_index:][lab]
    
#     plot    
#     fig, ax = plt.subplots()
#     subdf = pred['2013-04-01':'2013-06-30']
#     subdf.plot(ax=ax)
#     subdf['fact'].plot(ax=ax, lw=5)
#     subdf.diff().plot()
#     subdf['fact'].diff().plot(lw=5)
#     plt.show()
#     subdf.head(7)
    pred['index'] = lab[-4:]
    score_df = score_df.append(pred)
print(score_df.describe())

stage_max_3019
stage_max_3027
stage_max_3028
stage_max_3029
stage_max_3030
stage_max_3035
stage_max_3041
stage_max_3045
stage_max_3050
stage_max_3230
stage_max_3036
              pred_1         pred_2         pred_3         pred_4  \
count  138479.000000  138479.000000  138479.000000  138479.000000
mean      220.445908     207.120560     212.829529     211.320938
std       218.838150     214.994965     213.537537     208.903580
min      -456.788513    -428.686554    -388.279144    -411.478882
25%        91.615597      81.966560      86.991611      86.430698
50%       187.976212     176.538895     182.462708     183.597870
75%       297.934402     280.750183     288.993820     292.885529
max      1437.879150    1500.158447    1470.960205    1487.799438

              pred_5         pred_6         pred_7           fact
count  138479.000000  138479.000000  138479.000000  138479.000000
mean      217.567596     203.251175     191.233856     198.433343
std       209.074341     205.602798     211.290497     235.844736
min      -405.895996    -404.633423    -426.443207    -355.000000
25%        90.239086      78.077374      60.160511      44.000000
50%       189.914749     175.730682     159.889435     142.000000
75%       300.902878     287.364899     281.297302     305.000000
max      1384.932251    1355.258911    1294.908936    2012.000000

In [147]:
score_df['fact_delta'] = score_df['fact'].diff(1)
score_df['pred_delta'] = score_df['pred_1'].diff(1)
score_df.to_csv('results/score_df.csv')